<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        
        
        <link rel="shortcut icon" href="../img/favicon.ico">
        <title>ЛР 4 - Лабораторные работы Бабан Виктории</title>
        <link href="../css/bootstrap.min.css" rel="stylesheet">
        <link href="../css/font-awesome.min.css" rel="stylesheet">
        <link href="../css/base.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/docco.min.css">

        <script src="../js/jquery-1.10.2.min.js" defer></script>
        <script src="../js/bootstrap.min.js" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
        <script>hljs.initHighlightingOnLoad();</script> 
    </head>

    <body>
        <div class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand" href="..">Лабораторные работы Бабан Виктории</a>
                <!-- Expander button -->
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Expanded navigation -->
                <div id="navbar-collapse" class="navbar-collapse collapse">
                        <!-- Main navigation -->
                        <ul class="nav navbar-nav">
                            <li class="navitem">
                                <a href=".." class="nav-link">Home</a>
                            </li>
                            <li class="dropdown active">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Labs <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    
<li>
    <a href="../lab_1/" class="dropdown-item">ЛР 1</a>
</li>
                                    
<li>
    <a href="../lab_2/" class="dropdown-item">ЛР 2</a>
</li>
                                    
<li>
    <a href="../lab_3/" class="dropdown-item">ЛР 3</a>
</li>
                                    
<li>
    <a href="./" class="dropdown-item active">ЛР 4</a>
</li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Practice <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    
<li>
    <a href="../pr_3_1/" class="dropdown-item">ПР 3.1</a>
</li>
                                </ul>
                            </li>
                        </ul>

                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="#" class="nav-link" data-toggle="modal" data-target="#mkdocs_search_modal">
                                <i class="fa fa-search"></i> Search
                            </a>
                        </li>
                            <li class="nav-item">
                                <a rel="prev" href="../lab_3/" class="nav-link">
                                    <i class="fa fa-arrow-left"></i> Previous
                                </a>
                            </li>
                            <li class="nav-item">
                                <a rel="next" href="../pr_3_1/" class="nav-link">
                                    Next <i class="fa fa-arrow-right"></i>
                                </a>
                            </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                    <div class="col-md-3"><div class="navbar-light navbar-expand-md bs-sidebar hidden-print affix" role="complementary">
    <div class="navbar-header">
        <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#toc-collapse" title="Table of Contents">
            <span class="fa fa-angle-down"></span>
        </button>
    </div>

    
    <div id="toc-collapse" class="navbar-collapse collapse card bg-secondary">
        <ul class="nav flex-column">
            
            <li class="nav-item" data-level="1"><a href="#4" class="nav-link">Лабораторная работа 4</a>
              <ul class="nav flex-column">
            <li class="nav-item" data-level="2"><a href="#_1" class="nav-link">Вариант</a>
              <ul class="nav flex-column">
              </ul>
            </li>
            <li class="nav-item" data-level="2"><a href="#_2" class="nav-link">Файлы с кодом (бэкенд)</a>
              <ul class="nav flex-column">
              </ul>
            </li>
            <li class="nav-item" data-level="2"><a href="#vuejs" class="nav-link">Файлы с кодом Vue.js</a>
              <ul class="nav flex-column">
              </ul>
            </li>
            <li class="nav-item" data-level="2"><a href="#router" class="nav-link">* router</a>
              <ul class="nav flex-column">
              </ul>
            </li>
            <li class="nav-item" data-level="2"><a href="#api" class="nav-link">* api</a>
              <ul class="nav flex-column">
              </ul>
            </li>
            <li class="nav-item" data-level="2"><a href="#stores" class="nav-link">* stores</a>
              <ul class="nav flex-column">
              </ul>
            </li>
            <li class="nav-item" data-level="2"><a href="#components" class="nav-link">* components</a>
              <ul class="nav flex-column">
              </ul>
            </li>
            <li class="nav-item" data-level="2"><a href="#views" class="nav-link">* views</a>
              <ul class="nav flex-column">
              </ul>
            </li>
              </ul>
            </li>
        </ul>
    </div>
</div></div>
                    <div class="col-md-9" role="main">

<h1 id="4">Лабораторная работа 4</h1>
<h2 id="_1">Вариант</h2>
<p>Взят фариант с предмета "Фронтенд-разработка": сайт с поиском мероприятий.</p>
<h2 id="_2">Файлы с кодом (бэкенд)</h2>
<ul>
<li>models.py</li>
</ul>
<pre><code>class Event(models.Model):

    CATEGORY = [
        (&quot;Спорт и фитнес&quot;, &quot;Спорт и фитнес&quot;),
        (&quot;Искусство и культура&quot;, &quot;Искусство и культура&quot;),
        (&quot;Природа&quot;, &quot;Природа&quot;),
        (&quot;Карьера и образование&quot;, &quot;Карьера и образование&quot;),
        (&quot;Театры&quot;, &quot;Театры&quot;),
        (&quot;Концерты&quot;, &quot;Концерты&quot;),
    ]

    TYPES_EVENTS = [
        (&quot;offline&quot;, &quot;Очно&quot;),
        (&quot;online&quot;, &quot;Онлайн&quot;),
    ]

    DISTRICT = [
        ('any', 'Любой'),
        (&quot;admiral&quot;, &quot;Адмиралтейский&quot;),
        (&quot;vasileostrov&quot;, &quot;Василеостровской&quot;),
        (&quot;vyborg&quot;, &quot;Выборгский&quot;),
        (&quot;kalininsk&quot;, &quot;Калининский&quot;),
        (&quot;kirov&quot;, &quot;Кировский&quot;),
        (&quot;krasnogvard&quot;, &quot;Красногвардейский&quot;),
        (&quot;krasnosel&quot;, &quot;Красносельский&quot;),
        (&quot;kronshtad&quot;, &quot;Кронштадский&quot;),
        (&quot;moskovsk&quot;, &quot;Московский&quot;),
        (&quot;nevsk&quot;, &quot;Невский&quot;),
        (&quot;petrograd&quot;, &quot;Петроградский&quot;),
        (&quot;center&quot;, &quot;Центральный&quot;),
    ]

    name = models.CharField(max_length=100)
    category = models.CharField(max_length=30, choices=CATEGORY)
    place = models.CharField(max_length=100)
    date = models.DateTimeField()
    price = models.CharField(max_length=50)
    photo = models.CharField(max_length=100)
    type_event = models.CharField(max_length=10, choices=TYPES_EVENTS)
    district = models.CharField(max_length=20, choices=DISTRICT)
    description = models.TextField(blank=True)
    contact_number = models.CharField(max_length=12, blank=True)
    contact_name = models.CharField(max_length=50, blank=True)
    map = models.TextField(blank=True)

    def __str__(self):
        return self.name


class User(AbstractUser):
    last_name = models.CharField(max_length=50)
    first_name = models.CharField(max_length=50)
    email = models.CharField(max_length=50)
    REQUIRED_FIELDS = ['last_name', 'first_name', 'email']

class UsersEvents(models.Model):
    user_id = models.ForeignKey(User, on_delete=models.CASCADE, related_name='reg_user')
    event_id = models.ForeignKey(Event, on_delete=models.CASCADE, related_name='reg_event')

</code></pre>
<ul>
<li>urls.py</li>
</ul>
<pre><code>urlpatterns = [
    path('events', EventsList.as_view()),
    path('events/&lt;int:pk&gt;', EventRetrieve.as_view()),
    path('users', UserList.as_view()),
    path('users/&lt;int:pk&gt;', UserRetrieve.as_view()),
    path('users_events', UserEventsList.as_view()),
    path('users_events/add', RegisterUserOnEvent.as_view()),
    path('users_events/&lt;int:pk&gt;', DeleteUserEvent.as_view())
]
</code></pre>
<ul>
<li>views.py</li>
</ul>
<pre><code>class EventsList(ListAPIView):
    serializer_class = EventSerializer

    def get_queryset(self):
        queryset = Event.objects.all()
        category = self.request.query_params.get('category')
        district = self.request.query_params.get('district')
        type_event = self.request.query_params.get('type_event')

        if (type_event is not None) and (type_event != ''):
            queryset = queryset.filter(type_event=type_event)
        if (category is not None) and (category != ''):
            queryset = queryset.filter(category=category)
        if (district is not None) and (district != ''):
            queryset = queryset.filter(district=district)

        return queryset

class EventRetrieve(RetrieveAPIView):
    serializer_class = EventSerializer
    queryset = Event.objects.all()


class UserList(ListAPIView):
    serializer_class = UserSerializer
    queryset = Event.objects.all()

class UserCreate(CreateAPIView):
    serializer_class = UserSerializer
    queryset = Event.objects.all()

class UserRetrieve(RetrieveUpdateAPIView):
    serializer_class = UserSerializer
    queryset = Event.objects.all()

class UserEventsList(ListAPIView):
    def get(self, request):
        user_events = UsersEvents.objects.filter(user_id=request.user.id)
        serializer = UserEventsSerializer(user_events, many=True)
        return Response({&quot;user_events&quot;: serializer.data})

class RegisterUserOnEvent(views.APIView):
    def post(self, request):
        event_id = request.data.get('event')
        event = Event.objects.get(id=event_id)
        user_event = UsersEvents.objects.create(user_id=request.user, event_id=event)
        user_event.save()

        return Response({&quot;Success&quot;: &quot;Registration user on event {} done succesfully&quot;.format(user_event.id)})

class DeleteUserEvent(DestroyAPIView):
    serializer_class = UserOnEventSerializer
    queryset = UsersEvents.objects.all()
</code></pre>
<ul>
<li>serializers.py</li>
</ul>
<pre><code>class EventSerializer(serializers.ModelSerializer):
    class Meta:
        model = Event
        fields = &quot;__all__&quot;

class UserSerializer(serializers.ModelSerializer):
    class Meta:
        model = User
        fields = &quot;__all__&quot;

class UserOnEventSerializer(serializers.ModelSerializer):
    class Meta:
        model = UsersEvents
        fields = &quot;__all__&quot;

class UserEventsSerializer(serializers.ModelSerializer):
    event_id = EventSerializer()
    class Meta:
        model = UsersEvents
        fields = (&quot;id&quot;, &quot;event_id&quot;)
</code></pre>
<h2 id="vuejs">Файлы с кодом Vue.js</h2>
<h2 id="router">* router</h2>
<ul>
<li>index.js</li>
</ul>
<pre><code>import { createRouter, createWebHistory } from 'vue-router'


const router = createRouter({
  history: createWebHistory(import.meta.env.BASE_URL),
  routes: [
    {
      path: '/registration',
      name: 'registration',
      component: () =&gt; import('../views/RegisterView.vue')
    },
    {
      path: '/login',
      name: 'login',
      component: () =&gt; import('../views/LogInView.vue')
    },
    {
      path: '/',
      name: 'main',
      component: () =&gt; import('../views/MainView.vue')
    },
    {
      path: '/lk',
      name: 'lk',
      component: () =&gt; import('../views/LkView.vue')
    },
      {
      path: '/lk/data',
      name: 'lk_data',
      component: () =&gt; import('../views/LkData.vue')
    },
    {
      path: '/events/:id',
      name: 'eventInfo',
      props: true,
      component: () =&gt; import('../views/CardView.vue')
    }
  ]
})

export default router
</code></pre>
<h2 id="api">* api</h2>
<ul>
<li>index.js</li>
</ul>
<pre><code>import instance from &quot;../api/instance&quot;
import UserAPI from &quot;../api/user&quot;
import EventsAPI from &quot;../api/event&quot;
import UsersEventsAPI from &quot;../api/users_events&quot;


const userAPI = new UserAPI(instance)
const eventsAPI = new EventsAPI(instance)
const userEventsAPI = new UsersEventsAPI(instance)

export {
    userAPI,
    eventsAPI,
    userEventsAPI
}
</code></pre>
<ul>
<li>instance.js</li>
</ul>
<pre><code>import axios from 'axios'

const apiURL = 'http://127.0.0.1:8000'
const token = localStorage.getItem('token')

const instance = axios.create({
 baseURL: apiURL,
})

if (token){
    instance.defaults.headers.common['Authorization'] = &quot;Token &quot; + token;
}

export default instance
</code></pre>
<ul>
<li>event.js - события</li>
</ul>
<pre><code>class EventsAPI {
    constructor(instance) {
        this.API = instance
    }

    fetchEvent = async (id) =&gt; {
        return this.API({
            url: `/api/v1/events/${id}`
        })
    }

    fetchEvents = async (id) =&gt; {
        return this.API({
            url: `/api/v1/events`
        })
    }

    fetchEventsByCategory = async (category) =&gt; {
        if (category === '') {
            return this.fetchEvents();
        }
        return this.API({
            url: `/api/v1/events?category=${category}`
        })
    }


    fetchEventsByCategoryDistrictType = async (category, district, type_event) =&gt; {
        if ((category === '') &amp;&amp; (district === '') &amp;&amp; (type_event === '')) {
            return this.fetchEvents();
        }
        return this.API({
            url: `/api/v1/events?category=${category}&amp;district=${district}&amp;type_event=${type_event}`
        })
    }
}

export default EventsAPI
</code></pre>
<ul>
<li>user.js - пользователь</li>
</ul>
<pre><code>class UserAPI {
    constructor(instance) {
        this.API = instance
    }

    login = async (data) =&gt; {
        return this.API({
            method: 'POST',
            url: '/auth/token/login/',
            data,
            headers: {
                'Content-Type': 'application/json'
            }
        })
    }

    register = async (data) =&gt; {
        return this.API({
            method: 'POST',
            url: '/auth/users/',
            data,
            headers: {
                'Content-Type': 'application/json'
            }
        })
    }

    logout = async (token) =&gt; {
        return this.API({
            method: 'POST',
            url: '/auth/token/logout/',
            headers: {
                'Authorization': `Token ${token}`
            }
        })
    }

    currentUserInfo = async (token) =&gt; {
        return this.API({
            url: '/auth/users/me/',
            headers: {
                'Authorization': `Token ${token}`
            }
        })
    }

}

export default UserAPI
</code></pre>
<ul>
<li>user_events.js - события пользователя</li>
</ul>
<pre><code>class UsersEventsAPI {
    constructor(instance) {
        this.API = instance
    }

    fetchUsersEvents = async (token) =&gt; {
        return this.API({
            url: '/api/v1/users_events',
            headers: {
                'Authorization': `Token ${token}`
            }
        })
    }

    addUsersEvents = async (data, token) =&gt; {
        return this.API({
            method: 'POST',
            url: '/api/v1/users_events/add',
            data,
            headers: {
                'Content-Type': 'application/json',
                'Authorization': `Token ${token}`
            }
        })
    }

    removeUsersEvent = async (id, token) =&gt; {
        return this.API({
            method: 'DELETE',
            url: `/api/v1/users_events/${id}`,
            headers: {
                'Content-Type': 'application/json',
                'Authorization': `Token ${token}`
            }
        })
    }

}

export default UsersEventsAPI
</code></pre>
<h2 id="stores">* stores</h2>
<ul>
<li>index.js</li>
</ul>
<pre><code>import { persist } from 'pinia-persists'
import { createPinia } from 'pinia'

const pinia = createPinia()

pinia.use(persist())

export default pinia
</code></pre>
<ul>
<li>event.js - событие</li>
</ul>
<pre><code>import { defineStore } from 'pinia'
import { eventsAPI } from '../api'

const useEventsStore = defineStore('events', {
    state: () =&gt; ({
        events: [],
        categoryFilter: '',
        districtFilter: '',
        typeFilter: '',

        event: {}
    }),

    actions: {
        async fetchEvents() {
            const response = await eventsAPI.fetchEvents()
            this.events = response.data
            return response
        },

        async fetchEvent(id) {
            const response = await eventsAPI.fetchEvent(id)
            this.event = response.data
            return response
        },

        async fetchEventsByCategoryDistrictType(category, district, type_event) {
            this.categoryFilter = category === this.categoryFilter ? '' : category;
            this.districtFilter = district === this.districtFilter ? '' : district;
            this.typeFilter = type_event === this.typeFilter ? '' : type_event;
            const response = await eventsAPI.fetchEventsByCategoryDistrictType(this.categoryFilter, this.districtFilter, this.typeFilter)

            this.events = response.data
            return response
        }
    }
})

export default useEventsStore
</code></pre>
<ul>
<li>user.js - пользователь</li>
</ul>
<pre><code>import {defineStore} from 'pinia'
import {userAPI} from '../api'

const useUserStore = defineStore('user', {
    state: () =&gt; ({
        user: {},
        token: null,
    }),

    actions: {
        setToken(token) {
            this.token = token || null
        },
        async login(data) {
            const response = await userAPI.login(data)
            this.token = response?.data?.auth_token || null
            if (this.token) {
                localStorage.setItem(&quot;token&quot;, this.token)
            }
            return response
        },
        async register(user) {
            const response = await userAPI.register(user)

            return response
        },
        async logout() {
            let response = null

            if (this.token) {
                response = await userAPI.logout(this.token)
                if (response.status === 204) {
                    window.localStorage.removeItem('token')
                    this.token = '';
                    this.user = {};
                }
            }

            return response
        },
        async currentUserInfo() {
            let response = null

            if (this.token) {
                response = await userAPI.currentUserInfo(this.token)
                this.user = response.data?.username ? response.data : {}
            }

            return this.user
        },
    },

})

export default useUserStore
</code></pre>
<ul>
<li>user_events.js - события пользователя</li>
</ul>
<pre><code>import {userEventsAPI} from '../api'

const useUserEventsStore = defineStore('user_events', {
  state: () =&gt; ({
    userEvents: [],
  }),

  actions: {
    async fetchUsersEvents(token) {
      const response = await userEventsAPI.fetchUsersEvents(token)

      this.userEvents = response.data.user_events
      return response
    },
    async addUsersEvents(event, token) {
      const response = await userEventsAPI.addUsersEvents( {event}, token)
      return response
    },
    async removeUsersEvent(id, token) {
      const response = await userEventsAPI.removeUsersEvent(id, token)
      return response
    },
  }
})

export default useUserEventsStore
</code></pre>
<h2 id="components">* components</h2>
<ul>
<li>Header.vue - Шапка сайта</li>
</ul>
<pre><code>&lt;template&gt;
  &lt;nav class=&quot;navbar navbar-expand-lg navbar-dark&quot; style=&quot;background-color: #20c997;&quot;&gt;
    &lt;div class=&quot;container-fluid&quot;&gt;
      &lt;a class=&quot;navbar-brand&quot; href=&quot;#&quot;&gt;
        &lt;img src=&quot;./icons/logo.PNG&quot; alt=&quot;Лого&quot; width=&quot;30&quot; height=&quot;24&quot; class=&quot;d-inline-block align-text-top&quot;&gt;
        EventMap
      &lt;/a&gt;
      &lt;button class=&quot;navbar-toggler&quot; type=&quot;button&quot; data-bs-toggle=&quot;collapse&quot; data-bs-target=&quot;#navbarNavAltMarkup&quot; aria-controls=&quot;navbarNavAltMarkup&quot; aria-expanded=&quot;false&quot; aria-label=&quot;Toggle navigation&quot;&gt;
        &lt;span class=&quot;navbar-toggler-icon&quot;&gt;&lt;/span&gt;
      &lt;/button&gt;
      &lt;div class=&quot;collapse navbar-collapse&quot; id=&quot;navbarNavAltMarkup&quot;&gt;
        &lt;div class=&quot;navbar-nav&quot;&gt;
          &lt;a class=&quot;nav-link active&quot; aria-current=&quot;page&quot; href=&quot;#&quot; @click=&quot;$router.push('/')&quot;&gt;Поиск мероприятий&lt;/a&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;form v-if=&quot;!token&quot; class=&quot;justify-content-end&quot;&gt;
        &lt;a  class=&quot;btn btn-light me-2&quot; href=&quot;#&quot; role=&quot;button&quot; id=&quot;enter&quot; @click=&quot;$router.push('/login/')&quot;&gt;Вход&lt;/a&gt;
        &lt;a class=&quot;btn btn-sm btn-outline-light&quot; role=&quot;button&quot; id=&quot;registr&quot; href=&quot;#&quot; @click=&quot;$router.push('/registration/')&quot;&gt;Регистрация&lt;/a&gt;
      &lt;/form&gt;
      &lt;form v-else class=&quot;justify-content-end&quot;&gt;
        &lt;a class=&quot;btn btn-light me-2&quot; href=&quot;#&quot; role=&quot;button&quot; id=&quot;enterlk&quot; @click=&quot;$router.push('/lk/')&quot;&gt;Личный кабинет&lt;/a&gt;
        &lt;a class=&quot;btn btn-sm btn-outline-light&quot; href=&quot;#&quot; role=&quot;button&quot; id=&quot;logout&quot; @click=&quot;Logout&quot;&gt;Выход&lt;/a&gt;
      &lt;/form&gt;
    &lt;/div&gt;
  &lt;/nav&gt;
&lt;/template&gt;

&lt;script&gt;
import { mapState, mapActions } from 'pinia';
import useUserStore from '@/stores/user'

export default {
  name: 'Header',
  computed: {
    ...mapState(useUserStore, ['token'])
  },
  mounted() {
    this.setToken(window.localStorage.getItem('token'))
  },
  methods: {
    ...mapActions(useUserStore, ['setToken', 'logout']),
    async Logout() {
      await this.logout()
      this.$router.push('/')
    }
  }
}
&lt;/script&gt;
</code></pre>
<ul>
<li>Footer.vue - подвал сайта</li>
</ul>
<pre><code>&lt;template&gt;
  &lt;footer class=&quot;d-flex flex-wrap justify-content-between align-items-center py-3 border-top navbar-expand-lg navbar-dark&quot; style=&quot;background-color: #20c997;&quot;&gt;
    &lt;p class=&quot;col-md-4 mb-0 text-white&quot;&gt;© 2022 Company, Inc&lt;/p&gt;

    &lt;a href=&quot;/&quot; class=&quot;col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-white text-decoration-none&quot;&gt;
      &lt;img src=&quot;./icons/logo.PNG&quot; alt=&quot;Лого&quot; width=&quot;30&quot; height=&quot;24&quot; class=&quot;d-inline-block align-text-top &quot;&gt;
      EventMap
    &lt;/a&gt;

    &lt;ul class=&quot;nav col-md-4 justify-content-end navbar-nav&quot;&gt;
      &lt;li class=&quot;nav-item&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;nav-link px-2&quot;&gt;Home&lt;/a&gt;&lt;/li&gt;
      &lt;li class=&quot;nav-item&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;nav-link px-2&quot;&gt;Features&lt;/a&gt;&lt;/li&gt;
      &lt;li class=&quot;nav-item&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;nav-link px-2&quot;&gt;Pricing&lt;/a&gt;&lt;/li&gt;
      &lt;li class=&quot;nav-item&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;nav-link px-2&quot;&gt;FAQs&lt;/a&gt;&lt;/li&gt;
      &lt;li class=&quot;nav-item&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;nav-link px-2&quot;&gt;About&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
  &lt;/footer&gt;
&lt;/template&gt;

&lt;script&gt;
export default {
  name: &quot;Footer&quot;
}
&lt;/script&gt;
</code></pre>
<ul>
<li>Filter.vue - фильтры для главной страницы</li>
</ul>
<pre><code>&lt;template&gt;
  &lt;div class=&quot;container d-flex p-3 justify-content-center h2&quot;&gt;Найди подходящее мероприятие&lt;/div&gt;
  &lt;div class=&quot;container d-grid gap-2 d-md-flex justify-content-center&quot;&gt;
    &lt;div class=&quot;row&quot;&gt;
      &lt;div class=&quot;form col-12 col-sm-6 col-lg-4 col-md-5 col-xl-3&quot;&gt;
        &lt;select class=&quot;form-select event-region&quot; aria-label=&quot;.form-select-lg example&quot; id=&quot;district&quot; v-model=&quot;district&quot;&gt;
          &lt;option value=&quot;&quot; &gt;Район&lt;/option&gt;
          &lt;option value=&quot;admiral&quot;&gt;Адмиралтейский&lt;/option&gt;
          &lt;option value=&quot;vasileostrov&quot;&gt;Василеостровский&lt;/option&gt;
          &lt;option value=&quot;vyborg&quot;&gt;Выборгский&lt;/option&gt;
          &lt;option value=&quot;kalininsk&quot;&gt;Калининский&lt;/option&gt;
          &lt;option value=&quot;kirov&quot;&gt;Кировский&lt;/option&gt;
          &lt;option value=&quot;krasnogvard&quot;&gt;Красногвардейский&lt;/option&gt;
          &lt;option value=&quot;krasnosel&quot;&gt;Красносельский&lt;/option&gt;
          &lt;option value=&quot;kronshtad&quot;&gt;Кронштадский&lt;/option&gt;
          &lt;option value=&quot;moskov&quot;&gt;Московский&lt;/option&gt;
          &lt;option value=&quot;nevsk&quot;&gt;Невский&lt;/option&gt;
          &lt;option value=&quot;petrograd&quot;&gt;Петроградский&lt;/option&gt;
          &lt;option value=&quot;center&quot;&gt;Центральный&lt;/option&gt;
        &lt;/select&gt;
      &lt;/div&gt;
      &lt;div class=&quot;form col-12 col-sm-6 col-lg-4 col-md-5 col-xl-3&quot;&gt;
        &lt;select class=&quot;form-select event-category&quot; aria-label=&quot;.form-select-lg example&quot; id=&quot;category&quot; v-model=&quot;category&quot;&gt;
          &lt;option value=&quot;&quot;&gt;Категория&lt;/option&gt;
          &lt;option value=&quot;Театры&quot; &gt;Театры&lt;/option&gt;
          &lt;option value=&quot;Концерты&quot; &gt;Концерты&lt;/option&gt;
          &lt;option value=&quot;Игры&quot; &gt;Игры&lt;/option&gt;
          &lt;option value=&quot;Спорт и фитнес&quot; &gt;Спорт и фитнес&lt;/option&gt;
          &lt;option value=&quot;Исскуство и культура&quot; &gt;Исскуство и культура&lt;/option&gt;
          &lt;option value=&quot;Карьера и образование&quot; &gt;Карьера и образование&lt;/option&gt;
        &lt;/select&gt;
      &lt;/div&gt;
      &lt;div class=&quot;form col-12 col-sm-6 col-lg-4 col-md-5 col-xl-3&quot;&gt;
        &lt;select class=&quot;form-select type-event&quot; aria-label=&quot;.form-select-lg example&quot; id=&quot;type-event&quot; v-model=&quot;type_event&quot;&gt;
          &lt;option value=&quot;&quot;&gt;Любой тип&lt;/option&gt;
          &lt;option value=&quot;offline&quot;&gt;Очно&lt;/option&gt;
          &lt;option value=&quot;online&quot;&gt;Онлайн&lt;/option&gt;
        &lt;/select&gt;
      &lt;/div&gt;
      &lt;form class=&quot;d-flex justify-content-end col input-group mb-3 search-form&quot;&gt;
        &lt;button class=&quot;btn btn-outline-secondary search-btn&quot; type=&quot;button&quot; id=&quot;button-search&quot; @click=&quot;filterEvents&quot;&gt;Поиск&lt;/button&gt;
      &lt;/form&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/template&gt;

&lt;script&gt;
import { mapActions, mapState } from 'pinia';
import useEventsStore from '@/stores/event'

export default {
  name: &quot;Filter&quot;,
  data() {
    return {
      category: '',
      district: '',
      type_event: ''
    }
  },
  computed: {
    ...mapState(useEventsStore, ['events', 'categoryFilter', 'districtFilter', 'typeFilter']),
  },
  methods: {
    ...mapActions(useEventsStore, ['fetchEventsByCategoryDistrictType']),

    filterEvents() {
      this.fetchEventsByCategoryDistrictType(this.category, this.district, this.type_event)
    }
  }


}
&lt;/script&gt;
</code></pre>
<ul>
<li>LogInForm.vue - форма авторизации</li>
</ul>
<pre><code>&lt;template&gt;
  &lt;main&gt;
    &lt;div class=&quot;container col-md-6 p-5&quot;&gt;
      &lt;form&gt;
        &lt;div class=&quot;mb-3&quot;&gt;
          &lt;label for=&quot;email&quot; class=&quot;form-label&quot;&gt;Введите свой e-mail:&lt;/label&gt;
          &lt;input type=&quot;email&quot; class=&quot;form-control&quot; id=&quot;email&quot; name=&quot;email&quot; v-model=&quot;email&quot;&gt;
        &lt;/div&gt;
        &lt;div class=&quot;mb-3&quot;&gt;
          &lt;label for=&quot;password&quot; class=&quot;form-label&quot;&gt;Введите пароль:&lt;/label&gt;
          &lt;input type=&quot;password&quot; class=&quot;form-control&quot; id=&quot;password&quot; name=&quot;password&quot; v-model=&quot;password&quot;&gt;
        &lt;/div&gt;
        &lt;p v-if=&quot;error&quot; class=&quot;error text-danger&quot;&gt;
          &lt;strong&gt;{{ error }}&lt;/strong&gt;
        &lt;/p&gt;
        &lt;div class=&quot;p-4 d-flex justify-content-center&quot;&gt;
          &lt;button type=&quot;button&quot; class=&quot;btn btn-success mb-3&quot; @click=&quot;logIn&quot;&gt;Войти&lt;/button&gt;
        &lt;/div&gt;
      &lt;/form&gt;
      &lt;div class=&quot;container d-flex&quot;&gt;
        &lt;p class=&quot;text-black&quot;&gt;Еще нет аккаунта?&lt;/p&gt;
        &lt;a href=&quot;#&quot; class=&quot;ms-2 text-success&quot; @click=&quot;$router.push('/registration/')&quot;&gt;Зарегистрируйся&lt;/a&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/main&gt;
&lt;/template&gt;

&lt;script&gt;
import { mapActions, mapState } from 'pinia'
import router from '@/router'
import useUserStore from '@/stores/user'

export default {
  name: &quot;LogIn&quot;,

  data(){
    return {
      email : &quot;&quot;,
      password : &quot;&quot;,

      error: &quot;&quot;
    }
  },

  methods: {
    ...mapActions(useUserStore, ['login']),

    async logIn() {
      if (!this.email || !this.password) {
        this.error = 'Ошибка! Введите email и пароль.'
        return
      }
      try {
        await this.login({
          username: this.email,
          password: this.password
        })
      } catch (e) {
        this.error = 'Ошибка! Неверно указан email или пароль.'
        return
      }
      this.$router.push('/lk')
    },
  }

}
&lt;/script&gt;
</code></pre>
<ul>
<li>RegisterForm.vue - форма регистрации</li>
</ul>
<pre><code>&lt;template&gt;
  &lt;main&gt;
    &lt;div class=&quot;container col-md-6 p-5&quot;&gt;
      &lt;form @submit.prevent=&quot;register&quot;&gt;
        &lt;div class=&quot;mb-3&quot;&gt;
          &lt;label for=&quot;first_name&quot; class=&quot;form-label&quot;&gt;Имя:&lt;/label&gt;
          &lt;input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;first_name&quot; name=&quot;first_name&quot; v-model=&quot;first_name&quot;&gt;
        &lt;/div&gt;
        &lt;div class=&quot;mb-3&quot;&gt;
          &lt;label for=&quot;last_name&quot; class=&quot;form-label&quot;&gt;Фамилия:&lt;/label&gt;
          &lt;input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;last_name&quot; name=&quot;last_name&quot; v-model=&quot;last_name&quot;&gt;
        &lt;/div&gt;
        &lt;div class=&quot;mb-3&quot;&gt;
          &lt;label for=&quot;email&quot; class=&quot;form-label&quot;&gt;Введите свой e-mail:&lt;/label&gt;
          &lt;input type=&quot;email&quot; class=&quot;form-control&quot; id=&quot;email&quot; name=&quot;email&quot; v-model=&quot;email&quot;&gt;
        &lt;/div&gt;
        &lt;div class=&quot;mb-3&quot;&gt;
          &lt;label for=&quot;password&quot; class=&quot;form-label&quot;&gt;Придумайте пароль:&lt;/label&gt;
          &lt;input type=&quot;password&quot; class=&quot;form-control&quot; id=&quot;password&quot; name=&quot;password&quot; v-model=&quot;password&quot;&gt;
        &lt;/div&gt;
        &lt;p v-if=&quot;error&quot; class=&quot;error text-danger&quot;&gt;
          &lt;strong&gt;{{ error }}&lt;/strong&gt;
        &lt;/p&gt;
        &lt;div class=&quot;p-4 d-flex justify-content-center&quot;&gt;
          &lt;button type=&quot;button&quot; class=&quot;btn btn-success mb-3&quot; @click=&quot;reg&quot;&gt;Зарегистрироваться&lt;/button&gt;
        &lt;/div&gt;
      &lt;/form&gt;
      &lt;div class=&quot;container d-flex&quot;&gt;
        &lt;p class=&quot;text-black&quot;&gt;Уже есть аккаунт?&lt;/p&gt;
        &lt;a href=&quot;#&quot; class=&quot;ms-2 text-success&quot; @click=&quot;$router.push('/login/')&quot;&gt;Войти&lt;/a&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/main&gt;
&lt;/template&gt;

&lt;script&gt;
import { mapActions, mapState } from 'pinia'
import router from '@/router'

import useUserStore from '@/stores/user'
export default {
  name: 'RegisterForm',

  data() {
    return {

      first_name: &quot;&quot;,
      last_name: &quot;&quot;,
      email: &quot;&quot;,
      username: &quot;&quot;,
      password: &quot;&quot;,

      error: &quot;&quot;
    };
  },

  methods: {
    ...mapActions(useUserStore, ['register', 'login']),

    async reg() {
      this.error = ''
      if (!this.email || !this.password) {
        this.error =  'Ошибка! Введите email и пароль.'
        return
      }
      let result
      try {
        result = await this.register({
          last_name: this.last_name,
          first_name: this.first_name,
          username: this.email,
          email: this.email,
          password: this.password
        })
      } catch (e) {
        this.error =  'Ошибка! Неверно указан email или пароль.'
        return
      }
      if (result?.status === 201) {
        await this.login({
          username: this.email,
          password: this.password
        })
        this.$router.push('/lk')
      }
    }
  }

}
&lt;/script&gt;
</code></pre>
<ul>
<li>EventCard.vue - карточка события</li>
</ul>
<pre><code>&lt;template&gt;
  &lt;div class=&quot;col-4&quot;&gt;
    &lt;div class=&quot;card h-100&quot; :event_id=&quot;id&quot;&gt;
      &lt;img :src=&quot;photo&quot; class=&quot;card-img-top img-fluid&quot; :alt=&quot;name&quot;&gt;
      &lt;div class=&quot;card-header d-flex justify-content-between align-content-center&quot;&gt;
        &lt;a class=&quot;btn btn-outline-secondary btn-sm&quot;&gt;{{ category }}&lt;/a&gt;
        &lt;p class=&quot;card-text&quot;&gt;{{ date }}&lt;/p&gt;
      &lt;/div&gt;
      &lt;div class=&quot;card-body text-center d-flex flex-column justify-content-around p-3&quot;&gt;
        &lt;h5 class=&quot;card-title&quot;&gt;{{ name }}&lt;/h5&gt;
        &lt;div class=&quot;card-text d-flex justify-content-around &quot;&gt;
          &lt;p class=&quot;card-text&quot;&gt;{{ place }}&lt;/p&gt;
          &lt;p class=&quot;card-text text-success&quot;&gt;{{ price }}&lt;/p&gt;
        &lt;/div&gt;
        &lt;div class=&quot;card-text d-flex justify-content-around &quot;&gt;
          &lt;RouterLink :to=&quot;`/events/${id}`&quot; class=&quot;text-black nav-link&quot;&gt;
            &lt;a href=&quot;#&quot; class=&quot;btn  align-self-center&quot; style=&quot;background-color: #20c997;&quot; &gt;Подробнее...&lt;/a&gt;
          &lt;/RouterLink&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/template&gt;

&lt;script&gt;

export default {
  name: &quot;EventCard&quot;,

  props: {
      id: {type: Number, required: true},
      name: {type: String, required: true},
      price: {type: String, required: true},
      photo: {type: String, required: true},
      category: {type: String, required: true},
      district: {type: String, required: true},
      place: {type: String, required: true},
      type_event: {type: String, required: true},
      date: {type: Date, required: true},
      description: {type: String}
  },
}
&lt;/script&gt;
</code></pre>
<ul>
<li>ListEvents.vue - список карточек события</li>
</ul>
<pre><code>&lt;template&gt;
  &lt;div class=&quot;container p-3&quot;&gt;
    &lt;div v-for=&quot;(eventRow, eventRowIndex) in eventRows&quot;
         :key=&quot;`event-row-${eventRowIndex}`&quot;
         class=&quot;event-row row py-2&quot;
    &gt;
      &lt;EventCard v-for=&quot;(event) in eventRow&quot;
                 :key=&quot;`event-${event.id}`&quot;
                 :id=&quot;event.id&quot;
                 :photo=&quot;event.photo&quot;
                 :name=&quot;event.name&quot;
                 :price=&quot;event.price&quot;
                 :category=&quot;event.category&quot;
                 :district=&quot;event.district&quot;
                 :place=&quot;event.place&quot;
                 :type_event=&quot;event.type_event&quot;
                 :date=&quot;event.date&quot;
      /&gt;
    &lt;/div&gt;
  &lt;/div&gt;

&lt;/template&gt;

&lt;script&gt;
import {mapActions, mapState} from 'pinia'
import useEventsStore from &quot;@/stores/event&quot;;
import EventCard from &quot;./EventCard.vue&quot;;

export default {
  name: &quot;ListEvents&quot;,
  components: {EventCard},
  computed: {
    ...mapState(useEventsStore, ['events']),
    eventRows() {
      return this.getEventsRows(3)
    },

  },
  methods: {
    ...mapActions(useEventsStore, ['fetchEvents']),
    getEventsRows(rowSize) {
      const eventRows = [];
      for (let i = 0; i &lt; this.events.length; i += rowSize) {
        const row = this.events.slice(i, i + rowSize);
        eventRows.push(row);
      }
      return eventRows;
    },

  },
  mounted() {
    this.fetchEvents()
  }
}
&lt;/script&gt;
</code></pre>
<ul>
<li>EventInfo.vue - подробная информация о событии</li>
</ul>
<pre><code>&lt;template&gt;
  &lt;section class=&quot;container col-8 border justify-content-center bg-white py-3 min-vh-100&quot;&gt;
    &lt;div class=&quot;d-flex flex-row&quot;&gt;
      &lt;img :src=&quot;event.photo&quot;  :alt=&quot;event.name&quot; class=&quot;img-fluid&quot; style=&quot;max-height: 300px; width: auto;&quot;&gt;
      &lt;div class=&quot;d-flex flex-column p-2 &quot;&gt;
        &lt;h2 class=&quot;text-center&quot;&gt;{{ event.name }}&lt;/h2&gt;
        &lt;dl class=&quot;row p-4&quot;&gt;
          &lt;dt class=&quot;col-sm-7&quot;&gt;Дата и время проведения:&lt;/dt&gt;
          &lt;dd class=&quot;col-sm-5&quot;&gt;{{ event.date }}&lt;/dd&gt;
          &lt;dt class=&quot;col-sm-7&quot;&gt;Место проведения:&lt;/dt&gt;
          &lt;dd class=&quot;col-sm-5&quot;&gt;{{ event.place }}&lt;/dd&gt;
          &lt;dt class=&quot;col-sm-7&quot;&gt;Стоимость:&lt;/dt&gt;
          &lt;dd class=&quot;col-sm-5&quot;&gt;{{ event.price }}&lt;/dd&gt;
        &lt;/dl&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;section class=&quot;py-3 px-1 mb-3&quot;&gt;
      &lt;div v-if=&quot;event.description&quot;&gt;
        &lt;h4 class=&quot;mb-2&quot;&gt;Описание: &lt;/h4&gt;
        &lt;p&gt;{{ event.description }}&lt;/p&gt;
      &lt;/div&gt;
      &lt;div v-if=&quot;event.contact_number&quot;&gt;
        &lt;h4 class=&quot;mb-2&quot;&gt;Контакты: &lt;/h4&gt;
        &lt;p&gt;{{event.contact_number}}   {{event.contact_name}}&lt;/p&gt;
      &lt;/div&gt;
      &lt;form class=&quot;d-flex justify-content-center&quot;&gt;
        &lt;a href=&quot;#&quot; class=&quot;btn&quot; style=&quot;background-color: #20c997;&quot; @click=&quot;addUserEvent&quot;&gt;Записаться на занятие&lt;/a&gt;
      &lt;/form&gt;
    &lt;/section&gt;
    &lt;div class=&quot;d-flex justify-content-center&quot; v-if=&quot;event.map&quot;&gt;
      &lt;iframe :src=&quot;event.map&quot; width=&quot;700&quot; height=&quot;400&quot; frameborder=&quot;0&quot;&gt;&lt;/iframe&gt;
    &lt;/div&gt;

  &lt;/section&gt;
&lt;/template&gt;

&lt;script&gt;
import {mapState, mapActions} from &quot;pinia&quot;
import useEventsStore from &quot;@/stores/event&quot;;
import useUserEventsStore from &quot;@/stores/users_events&quot;;
import useUserStore from &quot;@/stores/user&quot;;
export default {
  name: &quot;EventInfo&quot;,

  computed: {
    ...mapState(useEventsStore, ['event', 'events']),
    ...mapState(useUserEventsStore, ['userEvents']),
    ...mapState(useUserStore, ['token']),

  },
  mounted() {
    this.fetchEvent(this.$route.params.id)
    this.$watch(
        () =&gt; this.$route.params,
        (toParams) =&gt; {
          this.fetchEvent(toParams.id)
        }
    )
  },

  methods: {
    ...mapActions(useEventsStore, ['fetchEvent']),
    ...mapActions(useUserEventsStore, ['fetchUsersEvents', 'addUsersEvents']),
    addUserEvent() {
      this.addUsersEvents(this.event.id, this.token ).then(() =&gt; {
        this.fetchUsersEvents(this.token)
      })
    },
  }
}
&lt;/script&gt;
</code></pre>
<ul>
<li>UserEventCard.vue - карточка события (в ЛК), на которое пользователь зарегистрирован</li>
</ul>
<pre><code>&lt;template&gt;
  &lt;div class=&quot;row col-10 g-0 mb-3 border&quot;&gt;
    &lt;div class=&quot;col-md-4 d-flex align-items-center&quot;&gt;
      &lt;img :src=&quot;event_id.photo&quot; class=&quot;img-fluid &quot; :alt=&quot;event_id.name&quot;&gt;
    &lt;/div&gt;
    &lt;div class=&quot;col-md-8 d-flex flex-column justify-content-around&quot;&gt;
      &lt;div class=&quot;card-header d-flex justify-content-between p-4&quot;&gt;
        &lt;a class=&quot;btn btn-outline-secondary btn-sm&quot;  role=&quot;button&quot;&gt;{{ event_id.category }}&lt;/a&gt;
        &lt;p class=&quot;card-text&quot;&gt;{{ event_id.date }}&lt;/p&gt;
      &lt;/div&gt;
      &lt;div class=&quot;card-body text-center d-flex flex-column justify-content-around&quot; style=&quot;background-color: white&quot;&gt;
        &lt;h5 class=&quot;card-title&quot;&gt;{{ event_id.name }}&lt;/h5&gt;
        &lt;div class=&quot;card-text d-flex justify-content-around&quot;&gt;
          &lt;p class=&quot;card-location&quot;&gt;{{ event_id.place }}&lt;/p&gt;
          &lt;p class=&quot;card-cost&quot;&gt;{{ event_id.price }}&lt;/p&gt;
        &lt;/div&gt;
        &lt;form class=&quot;flex-column justify-content-around&quot;&gt;
          &lt;RouterLink :to=&quot;`/events/${event_id.id}`&quot; class=&quot;text-black nav-link&quot;&gt;
            &lt;a href=&quot;#&quot; class=&quot;btn col-5 align-self-center mb-1&quot; style=&quot;background-color: #20c997;&quot; &gt;Подробнее...&lt;/a&gt;
          &lt;/RouterLink&gt;
          &lt;a href=&quot;#&quot; class=&quot;btn btn-danger col-5 align-self-center mb-1&quot; @click=&quot;removeEvent(id)&quot;&gt;Отменить запись&lt;/a&gt;
        &lt;/form&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/template&gt;

&lt;script&gt;
import {mapActions, mapState} from &quot;pinia&quot;;
import useUserEventsStore from &quot;@/stores/users_events&quot;;
import useUserStore from &quot;@/stores/user&quot;;

export default {
  name: &quot;UserEventCard&quot;,
  props: {
    id: {type: Number, required: true},
    event_id: {
      id: {type: Number, required: true},
      name: {type: String, required: true},
      price: {type: String, required: true},
      photo: {type: String, required: true},
      district: {type: String, required: true},
      place: {type: String, required: true},
      date: {type: String, required: true},
    },

  },
  computed: {
    ...mapState(useUserEventsStore, ['userEvents']),
    ...mapState(useUserStore, ['token']),
  },
  methods: {
    ...mapActions(useUserEventsStore, ['fetchUsersEvents', 'removeUsersEvent']),
    removeEvent(id) {
      this.removeUsersEvent(id, this.token ).then(() =&gt; {
        this.fetchUsersEvents(this.token)
      })
    },
  },
}
&lt;/script&gt;
</code></pre>
<ul>
<li>MyEvents.vue - список событий пользователя в ЛК</li>
</ul>
<pre><code>&lt;template&gt;
  &lt;div class=&quot;col row-1 col-12  g-4 py-3&quot;&gt;
    &lt;UserEventCard v-for=&quot;(event) in userEvents&quot;
                   :key=&quot;`user-event-${event.id}`&quot;
                   :id=&quot;event.id&quot;
                   :event_id=&quot;event.event_id&quot;

    /&gt;
  &lt;/div&gt;
&lt;/template&gt;

&lt;script&gt;
import {mapActions, mapState} from 'pinia'
import useUserEventsStore from &quot;@/stores/users_events&quot;;
import useUserStore from &quot;@/stores/user&quot;;
import UserEventCard from &quot;./UserEventCard.vue&quot;;


export default {
  name: &quot;MyEvents&quot;,
  components: {UserEventCard},
  computed: {
    ...mapState(useUserEventsStore, ['userEvents']),
    ...mapState(useUserStore, ['token']),
  },
  methods: {
    ...mapActions(useUserEventsStore, ['fetchUsersEvents']),
  },
  mounted() {
    this.fetchUsersEvents(this.token)
  }
}
&lt;/script&gt;
</code></pre>
<h2 id="views">* views</h2>
<ul>
<li>MainView.vue - главная страница с фильтрацией событий</li>
</ul>
<p><a href="https://ibb.co/JQyz2sc"><img src="https://i.ibb.co/gVPDwRr/main-view.png" alt="main-view" border="0"></a></p>
<p><a href="https://ibb.co/jWGZKvw"><img src="https://i.ibb.co/xfG8vSg/main-view-filtered.png" alt="main-view-filtered" border="0"></a></p>
<pre><code>&lt;template&gt;
  &lt;Header/&gt;
  &lt;div class=&quot;min-vh-100&quot;&gt;
    &lt;Filter/&gt;
    &lt;ListEvents/&gt;
  &lt;/div&gt;
  &lt;Footer/&gt;
&lt;/template&gt;

&lt;script&gt;
import Header from &quot;../components/Header.vue&quot;;
import Footer from &quot;../components/Footer.vue&quot;;
import Filter from &quot;../components/Filter.vue&quot;;
import EventCard from &quot;../components/EventCard.vue&quot;;
import ListEvents from &quot;../components/ListEvents.vue&quot;;

export default {
  name: &quot;MainView&quot;,
  components: {ListEvents, EventCard, Filter, Footer, Header},
}
&lt;/script&gt;
</code></pre>
<ul>
<li>LogInView.vue - страница входа</li>
</ul>
<p><a href="https://ibb.co/MBmrq3C"><img src="https://i.ibb.co/vXSp2Kj/login.png" alt="login" border="0"></a></p>
<pre><code>&lt;template&gt;
  &lt;Header/&gt;
  &lt;LogIn/&gt;

&lt;/template&gt;

&lt;script&gt;
import LogIn from &quot;../components/LogInForm.vue&quot;;
import Header from &quot;../components/Header.vue&quot;;
import Footer from &quot;../components/Footer.vue&quot;;
export default {
  name: &quot;LogInView&quot;,
  components: {Footer, Header, LogIn},
}
&lt;/script&gt;
</code></pre>
<ul>
<li>RegisterView.vue - страница регистрации</li>
</ul>
<p><a href="https://ibb.co/fnDSHJ8"><img src="https://i.ibb.co/Jy3dHZx/signup.png" alt="signup" border="0"></a></p>
<pre><code>&lt;template&gt;
  &lt;Header/&gt;
  &lt;RegisterForm/&gt;
&lt;/template&gt;

&lt;script&gt;

import RegisterForm from &quot;../components/RegisterForm.vue&quot;;
import Header from &quot;../components/Header.vue&quot;;
export default {
  name: &quot;RegisterView&quot;,
  components: {Header, RegisterForm}
}

&lt;/script&gt;
</code></pre>
<ul>
<li>LkView.vue - личный кабинет, страница с мероприятиями</li>
</ul>
<p><a href="https://ibb.co/JqYDTxH"><img src="https://i.ibb.co/qCHT80p/lk.png" alt="lk" border="0"></a></p>
<pre><code>&lt;template&gt;
  &lt;Header/&gt;
  &lt;main class=&quot;p-5 container-fluid d-flex flex-row vh-100&quot;&gt;
    &lt;aside  class=&quot;col-lg-3   d-flex flex-column justify-content-start&quot;&gt;
        &lt;img src=&quot;https://e7.pngegg.com/pngimages/398/54/png-clipart-silhouette-graphics-male-silhouette-animals-hand.png&quot; height=&quot;auto&quot; alt=&quot;Фото профиля&quot; class=&quot;img-fluid img-thumbnail&quot;&gt;
        &lt;ul class=&quot;list-group col-12&quot;&gt;
            &lt;li class=&quot;list-group-item&quot;&gt;
                &lt;a class=&quot;text-decoration-none link-dark&quot; href=&quot;#&quot; @click=&quot;$router.push('/lk/data')&quot;&gt;Мои данные&lt;/a&gt;
            &lt;/li&gt;
            &lt;li class=&quot;list-group-item list-group-item-secondary&quot;&gt;
                &lt;a class=&quot;text-decoration-none link-dark active&quot; aria-current=&quot;true&quot; href=&quot;#&quot;&gt;Мои мероприятия&lt;/a&gt;
            &lt;/li&gt;
            &lt;li class=&quot;list-group-item&quot;&gt;
                &lt;a class=&quot;text-danger text-decoration-none link-dark&quot; href=&quot;#&quot; @click=&quot;Logout&quot;&gt;Выйти&lt;/a&gt;
            &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/aside&gt;
    &lt;section class=&quot;col-lg-9   px-5&quot;&gt;
        &lt;h2&gt;Мои мероприятия&lt;/h2&gt;
        &lt;MyEvents/&gt;
    &lt;/section&gt;
&lt;/main&gt;
  &lt;Footer/&gt;
&lt;/template&gt;

&lt;script&gt;
import Header from &quot;../components/Header.vue&quot;;
import Footer from &quot;../components/Footer.vue&quot;;
import MyEvents from &quot;../components/MyEvents.vue&quot;;
import {mapActions, mapState} from &quot;pinia&quot;;
import useUserStore from '@/stores/user'

export default {
name: &quot;LkView&quot;,
  components: {MyEvents, Footer, Header},
  computed: {
    ...mapState(useUserStore, ['token'])
  },
   mounted() {
    this.setToken(window.localStorage.getItem('token'))
  },
  methods: {
    ...mapActions(useUserStore, ['setToken', 'logout']),
    async Logout() {
      await this.logout()
      this.$router.push('/')
    }
  }
}
&lt;/script&gt;
</code></pre>
<ul>
<li>LkData.vue - личный кабинет, страница с данными пользователя</li>
</ul>
<p><a href="https://ibb.co/BNKnfMj"><img src="https://i.ibb.co/Sr7f6C0/lk-data.png" alt="lk-data" border="0"></a></p>
<pre><code>&lt;template&gt;
  &lt;Header/&gt;
  &lt;main class=&quot;p-5 container-fluid d-flex flex-row vh-100&quot;&gt;
    &lt;aside  class=&quot;col-lg-3   d-flex flex-column justify-content-start&quot;&gt;
      &lt;img src=&quot;https://e7.pngegg.com/pngimages/398/54/png-clipart-silhouette-graphics-male-silhouette-animals-hand.png&quot; height=&quot;auto&quot; alt=&quot;Фото профиля&quot; class=&quot;img-fluid img-thumbnail&quot;&gt;
      &lt;ul class=&quot;list-group col-12&quot;&gt;
        &lt;li class=&quot;list-group-item list-group-item-secondary&quot;&gt;
          &lt;a class=&quot;text-decoration-none link-dark active&quot; aria-current=&quot;true&quot; href=&quot;#&quot;&gt;Мои данные&lt;/a&gt;
        &lt;/li&gt;
        &lt;li class=&quot;list-group-item&quot;&gt;
          &lt;a class=&quot;text-decoration-none link-dark &quot;  href=&quot;#&quot; @click=&quot;$router.push('/lk/')&quot;&gt;Мои мероприятия&lt;/a&gt;
        &lt;/li&gt;
        &lt;li class=&quot;list-group-item&quot;&gt;
          &lt;a class=&quot;text-danger text-decoration-none link-dark&quot; href=&quot;#&quot; @click=&quot;Logout&quot;&gt;Выйти&lt;/a&gt;
        &lt;/li&gt;
      &lt;/ul&gt;
    &lt;/aside&gt;
    &lt;section class=&quot;col-lg-6   px-5&quot;&gt;
      &lt;h2&gt;Мои данные&lt;/h2&gt;
      &lt;div class=&quot;row mt-4 &quot;&gt;
          &lt;ul class=&quot;list-group&quot;&gt;
            &lt;li class=&quot;list-group-item&quot;&gt;Имя: {{ user.first_name }}&lt;/li&gt;
            &lt;li class=&quot;list-group-item&quot;&gt;Фамилия: {{ user.last_name }}&lt;/li&gt;
            &lt;li class=&quot;list-group-item&quot;&gt;ID: {{ user.id }}&lt;/li&gt;
            &lt;li class=&quot;list-group-item&quot;&gt;Email: {{ user.email }}&lt;/li&gt;
            &lt;li class=&quot;list-group-item&quot;&gt;Username: {{ user.username }}&lt;/li&gt;
          &lt;/ul&gt;
      &lt;/div&gt;
    &lt;/section&gt;
  &lt;/main&gt;
  &lt;Footer/&gt;
&lt;/template&gt;

&lt;script&gt;
import { mapState, mapActions } from 'pinia'
import useUserStore from '@/stores/user'
import Header from &quot;../components/Header.vue&quot;;
import Footer from &quot;../components/Footer.vue&quot;;


export default {
  name: &quot;LkData&quot;,
  components: {Footer, Header},
  computed: {
    ...mapState(useUserStore, ['user', 'token']),
  },
  mounted() {
    this.currentUserInfo().then(result =&gt; {
      if (!result?.email) {
        this.$router.replace({ path:'/' })
      }
    })
  },
  methods: {
    ...mapActions(useUserStore, ['currentUserInfo', 'logout']),
    async Logout() {
      await this.logout()
      this.$router.push('/')
    }
  }
}
&lt;/script&gt;
</code></pre>
<ul>
<li>CardView.vue - страница с информацией о событии</li>
</ul>
<p><a href="https://ibb.co/8bBNzGq"><img src="https://i.ibb.co/C6tmJ4g/event-info.png" alt="event-info" border="0"></a></p>
<pre><code>&lt;template&gt;
  &lt;Header/&gt;
  &lt;EventInfo/&gt;
  &lt;Footer/&gt;
&lt;/template&gt;

&lt;script&gt;
import Header from &quot;../components/Header.vue&quot;;
import Footer from &quot;../components/Footer.vue&quot;;
import EventInfo from &quot;../components/EventInfo.vue&quot;;
export default {
  name: &quot;CardView&quot;,
  components: {EventInfo, Footer, Header}
}
&lt;/script&gt;
</code></pre></div>
            </div>
        </div>

        <footer class="col-md-12">
            <hr>
            <p>Documentation built with <a href="https://www.mkdocs.org/">MkDocs</a>.</p>
        </footer>
        <script>
            var base_url = "..",
                shortcuts = {"help": 191, "next": 78, "previous": 80, "search": 83};
        </script>
        <script src="../js/base.js" defer></script>
        <script src="../search/main.js" defer></script>

        <div class="modal" id="mkdocs_search_modal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="searchModalLabel">Search</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">
                <p>From here you can search these documents. Enter your search terms below.</p>
                <form>
                    <div class="form-group">
                        <input type="search" class="form-control" placeholder="Search..." id="mkdocs-search-query" title="Type search term here">
                    </div>
                </form>
                <div id="mkdocs-search-results" data-no-results-text="No results found"></div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div><div class="modal" id="mkdocs_keyboard_modal" tabindex="-1" role="dialog" aria-labelledby="keyboardModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="keyboardModalLabel">Keyboard Shortcuts</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">
              <table class="table">
                <thead>
                  <tr>
                    <th style="width: 20%;">Keys</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="help shortcut"><kbd>?</kbd></td>
                    <td>Open this help</td>
                  </tr>
                  <tr>
                    <td class="next shortcut"><kbd>n</kbd></td>
                    <td>Next page</td>
                  </tr>
                  <tr>
                    <td class="prev shortcut"><kbd>p</kbd></td>
                    <td>Previous page</td>
                  </tr>
                  <tr>
                    <td class="search shortcut"><kbd>s</kbd></td>
                    <td>Search</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

    </body>
</html>
